<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--WebService Login Configuration-->
    <add key="applicationLog" value="app.log"/>
    <add key="login" value="ServiceDesk"/>
    <add key="password" value="tELKOM001"/>
  </appSettings>
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="USD_WebServiceSoapSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cntrra02casdpd1:8080/axis/services/USD_R11_WebService"
                binding="basicHttpBinding" bindingConfiguration="USD_WebServiceSoapSoapBinding"
                contract="CASDServiceReference.USD_WebServiceSoap" name="USD_WebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>